<div class="container">
    <h1 class="text-center">Ciudades</h1>
@if (ciudades.length>0) {
@for (ciudad of ciudades; track $index) {
    <div class="card mb-3" (click)="verCiudad(ciudad)">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ ciudad.image_path }}" class="card-img img-fluid" alt="{{ ciudad.nombre }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{ ciudad.nombre }}</h1>
              <p class="card-text texto-descripcion text-truncate">{{ ciudad.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    
}

}
@else {
    <h2>No hay ciudades disponibles</h2>
}

</div>




