h2{
    margin-top: 2%;
    margin-bottom: 1.5%;
}
.ciudad{
    margin-top: 1.5%;
}
.img_sitio{
    max-height: 150px;
}
.star-rating {
  display: flex;
  align-items: center;
}

.star {
  width: 1em;
  height: 1em;
  background-color: #ddd;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin-right: 0.1em;
}

.star.filled {
  background-color: #ffc107;
}

.star.half {
  background: linear-gradient(90deg, #ffc107 50%, #ddd 50%);
}

.contenedor{
  display: flex;
  flex-direction: column;
}

