<div class="card mb-3">
    <div class="card-header">
        Última modificación: {{ comentario.fecha_de_publicacion | date:"dd-MM-yyyy" }}
    </div>
    <div class="row no-gutters">
        <div class="col-md-8 contenedor-comentario">
            <div class="card-body">
                <div class="star-rating">
                  <div *ngFor="let estrella of estrellas" class="star" [ngClass]="estrella"></div>
                </div>
                <p class="card-text">{{ comentario.descripcion }}</p>
            </div>
            <div class="listado">
                <a *ngFor="let recomendacion of comentario.recomendaciones" class="btn recomendacion rounded-pill">{{recomendacion.nombre}}</a>

            </div>
        </div>
        <div class="col-md-4">
          @if(comentario.fotos && comentario.fotos.length > 0){
            <img src="{{comentario.fotos[0].foto}}"
                class="card-img">
              }
        </div>
    </div>
</div>
