<nav class="navbar navbar-expand-lg body-color">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
				<li class="nav-item inicio">
					<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
						 [routerLink]="['/']">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['contacto']">Contacto</a>
				</li>
			</ul>
			<div class="search-container">
        <form class="d-flex" (ngSubmit)="onSearch()" role="search" #form="ngForm">
          <input class="form-control me-2" [(ngModel)]="searchQuery" (input)="onSearch()" type="search" placeholder="Buscar" aria-label="Buscar" name="searchQuery">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <ul *ngIf="isSuggestionsVisible" class="list-group suggestions">
          <li *ngFor="let suggestion of suggestions" (click)="onSuggestionClick(suggestion)" class="list-group-item">
            {{ suggestion.nombre }}
          </li>
        </ul>
      </div>
		</div>
	</div>
</nav>
