.sitio{
    margin-top: 1.5%;
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {
    h3 {
      font-size: larger;
    }
  }

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  width: 1em;
  height: 1em;
  background-color: #ddd;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin-right: 0.1em;
}

.star.filled {
  background-color: #ffc107;
}

.star.half {
  background: linear-gradient(90deg, #ffc107 50%, #ddd 50%);
}

.contenedor{
  display: flex;
  flex-direction: column;
}

.boton{
  margin-bottom: 1%;
}

.sitio .texto-descripcion {
  white-space: normal; /* Permite que el texto ocupe múltiples líneas */
  overflow: hidden; /* Oculta cualquier desbordamiento */
  text-overflow: ellipsis; /* Añade "..." al final del texto si es necesario */
}
